<% if @article.errors.any? %>
    <% @article.errors.full_messages.each do |error| %>
        <h5 class="error"><%= error %></h5>
    <% end %>
<% end %>

<%= form_with(model: @article, local: true) do |f| %>
    <p>
        <%= f.label :title, class: "font-weight-bold" %><br/> 
        <%= f.text_field :title, class:"form-control" %>
    </p>
    <p>
        <%= f.label :description, class: "font-weight-bold" %><br/> 
        <%= f.text_area :description, class:"form-control" %> 
    </p>
    <p>
        <%= f.submit (@article.id) ? 'Save changes' : 'Create article', class: 'btn btn-success' %> 
    </p>
<% end %>